<app-application-navbar></app-application-navbar>
<div class="table-container">
    <div [hidden]="listEmptyFlag">
      <p-table class="info-table" [value]="timeClockingDetailsList" [rows]="rows"  [paginator]="true" [first]="first"
      styleClass="p-datatable-gridlines" [responsive]="true" [scrollable]="true" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th >USER NAME</th>
            <th>DATE WORKED</th>
            <th>DAY WORKED</th>
            <th>CHECK IN</th>
            <th>CHECK OUT</th>
            <th>LOCATION</th>
            <th>HOURS WORKED</th>
            <th>Delete Record</th>
          </tr>
        </ng-template>
       
          <ng-template pTemplate="body" let-tcd>
            <tr>
              <td>{{tcd.userName}}</td>
              <td>{{tcd.dateWorked}}</td>
              <td>{{tcd.dayWorked}}</td>
              <td>{{tcd.checkIn}}</td>
              <td>{{tcd.checkOut}}</td>
              <td>{{tcd.location}}</td>
              <td>{{tcd.totalHoursWorked}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="removeSpecificRecord(tcd)">Remove</button>
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div>
    <div [hidden]="!listEmptyFlag">
      <div class="alert alert-info">
        <strong>Info! </strong>{{listEmptyMessage}}
      </div>
    </div>
  </div>
  
