<app-application-navbar></app-application-navbar>
<div class="table-container">
  <div [hidden]="!updateHiddenFlag">
    <div [hidden]="listEmptyFlag">
      <p-table class="info-table" [value]="timeClockingDetailsList" [rows]="rows"  [paginator]="true" [first]="first"
      styleClass="p-datatable-gridlines" [responsive]="true" [scrollable]="true" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th >USER NAME</th>
            <th>DATE WORKED</th>
            <th>DAY WORKED</th>
            <th>CHECK IN</th>
            <th>CHECK OUT</th>
            <th>LOCATION</th>
            <th>HOURS WORKED</th>
            <th>PAYMENT STATUS</th>
            <th>UPDATE RECORD</th>
            <th>Delete Record</th>
          </tr>
        </ng-template>
       
          <ng-template pTemplate="body" let-tcd>
            <tr>
              <td>{{tcd.userName}}</td>
              <td>{{tcd.dateWorked}}</td>
              <td>{{tcd.dayWorked}}</td>
              <td>{{tcd.checkIn}}</td>
              <td>{{tcd.checkOut}}</td>
              <td>{{tcd.location}}</td>
              <td>{{tcd.totalHoursWorked}}</td>
              <td>{{tcd.paymentStatus}}</td>
               <td>
                <button type="button" class="btn btn-info" (click)="updateEntry(tcd)">Update</button>
               </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="removeSpecificRecord(tcd)">Remove</button>
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div>
    <div [hidden]="!listEmptyFlag">
      <div class="alert alert-info">
        <strong>Info! </strong>{{listEmptyMessage}}
      </div>
    </div>
  </div>

  <div [hidden]="updateHiddenFlag">
    <!--Start-->
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mt-5">
            <div id="banner" class="card-header text-center text-white">
              <h3>Update Entry</h3>
            </div>
            <div class="card-body">
              <form #myForm="ngForm">
                <div class="form-group">
                  <label for="date">Date worked <span class="required-field">*</span></label>
                  <input type="date" class="form-control" id="date" name="date" 
                  [formControl]="dateRequiredFormControl"  [(ngModel)]="timeClockingDetails.dateWorked" required>
                  <div *ngIf="dateRequiredFormControl.invalid && (dateRequiredFormControl.dirty || dateRequiredFormControl.touched)">
                    <div class="field-error" *ngIf="dateRequiredFormControl.hasError('required')">Date Worked is required.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="checkin">Check in <span class="required-field">*</span></label>
                  <input type="time" class="form-control" id="checkin" name="checkin" 
                  [formControl]="checkInTimeFormControl" [(ngModel)]="timeClockingDetails.checkIn" required>
                  <div *ngIf="checkInTimeFormControl.invalid && (checkInTimeFormControl.dirty || checkInTimeFormControl.touched)">
                    <div class="field-error" *ngIf="checkInTimeFormControl.hasError('required')">Check in is required.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="checkout">Check out <span class="required-field">*</span></label>
                  <input type="time" class="form-control" id="checkout" name="checkout"
                  [formControl]="checkOutTimeFormControl" [(ngModel)]="timeClockingDetails.checkOut" required>
                  <div *ngIf="checkOutTimeFormControl.invalid && (checkOutTimeFormControl.dirty || checkOutTimeFormControl.touched)">
                    <div class="field-error" *ngIf="checkOutTimeFormControl.hasError('required')">Check Out is required.</div>
                    </div>
                </div>

                <div class="form-group">
                  <label for="paymentstatus">Payment Status<span class="required-field">*</span></label>
                  <select class="form-control"  id="paymentstatus" name="paymentstatus"
                  [formControl]="paymentStatusFormControl" [(ngModel)]="timeClockingDetails.paymentStatus" required>
                    <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
                  </select>
                  <div *ngIf="paymentStatusFormControl.invalid && (paymentStatusFormControl.dirty || paymentStatusFormControl.touched)">
                    <div class="field-error" *ngIf="paymentStatusFormControl.hasError('required')">Payment Status is required.</div>
                    </div>  
                </div>
                
                <div class="form-group">
                  <label for="location">Location <span class="required-field">*</span></label>
                  <input type="text" class="form-control" id="location" name="location" 
                  [formControl]="locationFormControl" [(ngModel)]="timeClockingDetails.location" required>
                  <div *ngIf="locationFormControl.invalid && (locationFormControl.dirty || locationFormControl.touched)">
                    <div class="field-error" *ngIf="locationFormControl.hasError('required')">Location is required.</div>
                    </div>
                </div>
      
                <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()">Submit</button>
                <button type="cancel" class="btn btn-secondary btn-block" (click)="cancelUpdate()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  
    <!--End-->
  </div>

  </div>
  
